.container-categoria {
    background-color: var(--cor-fundo-claro);
    padding-top: calc(var(--tamanho-header) + 2rem);
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;

    min-height: calc(100vh - var(--tamanho-footer));
    font-size: var(--tamanho-fonte-forms);
    /* width: 100%;*/
}

.text-cadastro-categoria{
    margin-bottom: 1rem;
    
    font-size: var(--tamanho-fonte-titulos);
}

.formulario-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 42.5rem;
    margin: auto;  
}


.formulario-categoria label {
    text-align: left;
    display: flex;
    white-space: nowrap;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.categoria-descricao {
  
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;

    text-align:start;
        
    height: 11.3rem;
    margin-bottom: 1rem;
    background-color: var(--cor-caixa-texto);
    resize: none;
    
    line-height: 2rem;

    color: #0a0a0a;
}

.categoria-nome {   
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: var(--cor-caixa-texto);
}

.categoria-nome,
.categoria-descricao {
    font-size: var(--tamanho-fonte-forms);
}

.button-cadastrar {
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: .5rem 2rem;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    font-size: var(--tamanho-fonte-buttons);
    
}

.button-cadastrar:hover {
    background-color: var(--cor-fundo-escuro-alternativo);
 } 


