.container-categoria {
    background-color: var(--cor-fundo-claro);
    padding-top: calc(var(--tamanho-header) + var(--tamanho-subheader) + 2rem);
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;

    min-height: calc(100vh - var(--tamanho-footer));
    /* font-size: var(--tamanho-fonte-forms); */
    /* width: 100%; */
}

.text-cadastro-categoria{
    padding-top: 0.5rem;

    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-titulos);
    color: #000000;
}

.formulario-categoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 42.5rem;
    margin: auto;  

    font-family: var(--fonte-principal);
}


.formulario-categoria label {
    text-align: left;
    display: flex;
    white-space: nowrap;
    gap: 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;

    font-size: var(--tamanho-fonte-forms);
    font-family: var(--fonte-principal);
}

.text-descricao {
    margin-top: 2rem;
    font-family: var(--fonte-principal);
    font-size: 2rem;
    color: #000000;
}
.text-categoria {
    margin-top: 2rem;
   
    font-family: var(--fonte-principal);
    font-size: 2rem;
    color: #000000;

}

.input {
  
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;

    text-align:start;
        
    height: 11.3rem;
    margin-bottom: 1rem;
    background: var(--cor-caixa-texto);
    resize: none;
        
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-forms);
    line-height: 2rem;

    color: #0a0a0a;
}

.digite-categoria {  
    
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: var(--cor-caixa-texto);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-forms);

}

.button-cadastrar {
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: .5rem 2rem;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    font-size: var(--tamanho-fonte-buttons);
    
}

.button-cadastrar:hover {
    background-color: var(--cor-fundo-escuro-alternativo);
    
 } 

 @media only screen and (max-width:513px ) {
    .text-cadastro-categoria {
        font-size: var(--tamanho-fonte-subtitulos);
    }
 }

