.container-minha-conta {
  background-color: var(--cor-fundo-claro);
  padding-top: calc(var(--tamanho-header) + 3rem);
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;

  min-height: calc(100vh - var(--tamanho-footer));
}

.menu {
  display: flex;
  justify-items: flex-start;
  gap: 2rem;
}

.lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 20%;
  min-width: 15.625rem;
}

.container-principal {
  display: flex;
  justify-content: center;
  width: 80%;
}

h3 {
  margin-bottom: 0.2rem;
}

@media only screen and (max-width: 790px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lateral {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
