.container-login{
    background-color: var(--cor-fundo-claro);
    padding-top: calc(var(--tamanho-header) + var(--tamanho-subheader) + 2rem);
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;

    min-height: calc(100vh - var(--tamanho-footer));
}
.titulo-login{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

}
.imagem{
    
    max-width: 2.5rem;
    min-height: 2.4rem;
    width: auto;
    height: auto;

}
.Formulario-email h1{
    font-weight: normal;
    font-size: 4rem;
    
}

.Formulario-email{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    gap: 0.5rem;
}


.Formulario-email label{
    padding-top: 0.5rem;
    text-align: left;
    width: 100%;
    max-width: 42.5rem;
    
}

.Formulario-email input{
    
    width: 100%;
    max-width: 42.5rem;
    padding: 0.3rem;
    font-size: var(--tamanho-fonte-forms);
    border:none;
   background-color: var(--cor-caixa-texto);
   

}

.container-login button{
    margin-top: 2rem;
    max-width: 42.5rem;
    width: 100%;
    background-color: var(--cor-fundo-escuro);
    font-size: var(--tamanho-fonte-buttons) ;
    color: var(--cor-texto-claro) ;
    border:none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-bottom: 2rem;
}

.Formulario p{
    
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (min-width: 280px){
    
}