/* 
2 - div grandona que pega todo mundo:
2.1 - div do carrinho e frete
2.1.1 - Div do carrinho
2.1.2 - Div do frete
2.2 - div do resumo do pedido */

.carrinho {  /* 1 - Titulo meu carrinho*/
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--tamanho-fonte-titulos);
  background-color: #ec8585;
}  
/* 2 - div grandona que pega todo mundo: falta essa-----*/

 .Produtos{/* 2.1 - div do carrinho e frete */
  height: 32.3rem;
  left: 6.35rem;
  top: 23.5rem;
  background-color: #faea0f;
}

.titulo-Itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-size: var(--tamanho-fonte-subtitulos);
}
.itens-produtos {
  display: flex;
  align-items: column;
  justify-content: space-between;
  padding-left: 6rem;
  font-size: var(--tamanho-fonte-forms);
}
.foto-nome {
  display: flex;
  align-items: column;
  gap: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  max-width: 0.5rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-left: 5rem;
  margin-bottom: 1rem;
  font-size: var(--tamanho-fonte-buttons);
}
.button button {
  border: none;
  background: none;
  color: var(--cor-texto-destacado);
  font-size: var(--tamanho-fonte-buttons);
}
.button p {
  border: solid 0.1rem;
  border-radius: 0.5rem;
  padding-right: 1.125rem;
  padding-left: 1.125rem;
  border-color: rgb(5, 5, 5);
}

/* 2.2 - div do resumo do pedido*/
.Resumo-pedido {
  float: right;
  position: absolute;
  width: 30rem;
  height: 39rem;
  left: 83rem;
  top: 23rem;
  background-color: #e6e2b0;
}
.titulo-resumo-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-titulos);
}
.produtos-total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-subtitulos);
}
.frete-valor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-subtitulos);
}
.prazo-dias {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-subtitulos);
}
.Resumo-pedido hr {
  border-color: var(--cor-texto-destacado);
}

.Total {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-subtitulos);
}

.button-continuar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-continuar button {
  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-texto-claro);
  font-size: var(--tamanho-fonte-buttons);
}

/* COMEÇA AQUI O CALCULA FRETE PRAZO */
.calcula-frete-prazo {
  position: absolute;
  width: 68rem;
  height: 14rem;
  left: 6rem;
  top: 64rem;
  padding-left: 1rem;
  background-color: #e6e2b0;
}
.titulo-cfp {
  display: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
  font-size: var(--tamanho-fonte-titulos);
}
.formulario-cep form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: var(--tamanho-fonte-buttons);
}
.formulario-cep label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.formulario-cep input {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--tamanho-fonte-buttons);
}
.formulario-cep button {
  border-radius: 0.5rem;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--tamanho-fonte-buttons);
}
.formulario-cep a {
  color: var(--cor-fundo-escuro);
}

.cpf-encontrado {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  font-size: var(--tamanho-fonte-forms);
}
